
<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
     xmlns:th="http://www.thymeleaf.org">
<head>
<title>Add a Listing</title>
<link rel="stylesheet" type="text/css"
     th:href="@{/css/login.css}" />
<link rel="stylesheet"
     href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<script
     src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
<script
     src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>
     <form th:action="@{/home}" method="get">
          <button class="btn btn-md btn-warning btn-block" type="Submit">
               <b>Home</b>
          </button>
     </form>
     <h1 align="center" th:text=${listing.mls}>Text</h1>
     <h1 align="center" th:text=${listing.street}>Text</h1>
     <h1 align="center" th:text=${listing.street2}>Text</h1>
     <h1 align="center" th:text=${listing.city}>Text</h1>
     <h1 align="center" th:text=${listing.state}>Text</h1>
     <h1 align="center" th:text=${listing.zipcode}>Text</h1>
     <h1 align="center" th:text=${listing.neighborhood}>Text</h1>
     <h1 align="center" th:text=${listing.street}>Text</h1>
     <h1 align="center" th:text=${listing.dateListed}>Text</h1>
     <h1 align="center" th:text=${listing.numBedrooms}>Text</h1>
     <h1 align="center" th:text=${listing.numBathrooms}>Text</h1>
     <h1 align="center" th:text=${listing.garageSize}>Text</h1>
     <h1 align="center" th:text=${listing.homeSize}>Text</h1>
     <h1 align="center" th:text=${listing.lotSize}>Text</h1>
</body>
</html>